<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}Symfony Test Project</title>
        {% block stylesheets %}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}Header Space Holder{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% block footer %}Footer Space Holder{% endblock %}
    </body>
</html>
